.header
    min-height: 80px
    background-color: #ffff
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 22px

    .logo
        display: inline-block
        width: 150xp
        height: 56px
        cursor: pointer
        font-family: 'Inter'
        font-size: 18px
        line-height: 56px
        &:hover
            color: #1890ff
            transition: all 0.4s
    .auth
        min-width: 212px
        display: flex
        justify-content: space-between
        align-items: center
        &-btn
            cursor: pointer
            width: 109px
            height: 51px
            line-height: 30px
            background-color: #ffff
            border: none
            font-family: 'Roboto'
            font-weight: 400
            font-size: 18px
            &-logout
                border: 1px solid rgba(0, 0, 0, 0.75)
                border-radius: 5px
                margin-left: 27px
            &-create
                height: 32px
                width: 113px
                font-size: 14px
                line-height: 14px
                margin-right: 26px
                white-space: nowrap
        .active, &-btn:hover
            color: #52C41A
            border: 1px solid #52C41A
            border-radius: 5px
    .user-name
        cursor: pointer
        margin-right: 13px
        font-size: 18px
        line-height: 46px
        &:hover
            color: #52C41A
    .user-photo
        cursor: pointer
